.delicious {
  display: flex;
  gap: 327px;
  padding-top: 135px;
  padding-left: 92px;
  padding-right: 126px;
  background-color: #121517;
  justify-content: space-between;
}

.line-img {
  position: absolute;
  right: 3px;
  top: 1605px;
}

.delicious-cvadrat {
  position: relative;
  z-index: 0;
  background-color: #237249;
  width: 465px;
  height: 684px;
  margin-bottom: 100px;
  padding-bottom: 36px;
}

.ball-bluer8 {
  width: 289px;
  height: 245px;
  left: 36px;
  background: linear-gradient(
    267.2deg,
    rgba(35, 114, 73, 0.165) 3.05%,
    rgba(53, 198, 107, 0.219) 40.73%
  );
  filter: blur(145.59999084472656px);
  position: absolute;
  top: 2000px;
  border-radius: 50%;
}

.delicious-cvadrat-img {
  position: absolute;
  z-index: 0;
  top: -36px;
  left: 45px;
}

.delicious-cvadrat-img-mini {
  display: none;
}

.star3 {
  position: absolute;
  z-index: 1;
  top: -71px;
  left: 303px;
}

.star4 {
  display: none;
}

.delicious-description {
  z-index: 1;
  max-width: 457px;
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.delicious-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: -3%;
  margin: 0;
  color: #ffffff;
}

.delicious-line-mini {
  display: none;
}

.delicious-title-green {
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.ball-bluer7 {
  width: 310px;
  height: 267px;
  background: linear-gradient(
    267.2deg,
    rgba(35, 114, 73, 0.11) 3.05%,
    rgba(53, 198, 107, 0.146) 40.73%
  );
  filter: blur(144.62498474121094px);
  position: absolute;
  border-radius: 50%;
  top: 1400px;
  right: 10px;
}

.delicious-description-text {
  margin: 0;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}

.delicious-video {
  z-index: 1;
}

.delicious-video-mini {
  display: none;
}

@media (max-width: 428px) {
  .delicious {
    padding-top: 0px;
    padding-left: 23px;
    padding-right: 56px;
    flex-direction: column;
    gap: 0;
  }

  .delicious-img {
    display: flex;
    justify-content: space-between;
  }

  .delicious-cvadrat {
    width: 163px;
    height: 240px;
    padding-bottom: 0px;
    margin: 0;
    z-index: 1;
  }

  .star3 {
    display: none;
  }

  .star4 {
    display: block;
    width: 112px;
    height: 112px;
    z-index: 1;
  }

  .delicious-cvadrat-img {
    display: none;
  }

  .delicious-cvadrat-img-mini {
    display: block;
    top: -39px;
    position: absolute;
  }

  .ball-bluer7 {
    display: none;
  }

  .line-img {
    display: none;
  }

  .ball-bluer8 {
    width: 220px;
    height: 186px;
    top: 1555px;
    left: 13px;
    position: absolute;
    z-index: 0;
  }

  .delicious-title {
    padding-top: 48px;
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -3%;
  }

  .delicious-line-mini {
    display: block;
    position: absolute;
    z-index: 0;
    left: -1px;
    top: 1400px;
  }

  .delicious-description {
    gap: 0;
  }

  .delicious-description-text {
    padding-top: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 163%;
    letter-spacing: -2%;
  }

  .delicious-video {
    display: none;
  }

  .delicious-video-mini {
    display: block;
    padding-top: 38px;
    max-width: 256px;
  }
}
