.links-to-information {
  background-color: #121517;
  padding-top: 100px;
  padding-left: 130px;
  padding-right: 130px;
}

.information-about-events {
  display: flex;
  justify-content: end;
  gap: 72px;
  align-items: center;
}

.description-events {
  margin: 0;
  color: #d9d9d9;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  max-width: 457px;
}

.title-events {
  margin: 0;
  color: #ffffff;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  max-width: 366px;
}

.title-events-green {
  background-image: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  -webkit-background-clip: text;
  color: transparent;
}

.forms-differents-informations {
  padding-top: 54px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px 24px;
}

.img1 {
  background-image: url(/img/img1.jpg);
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 23px;
  gap: 44px;
}

.forms-differents-informations-title-img1 {
  margin: 0;
  max-width: 230px;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.link-img1 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  padding: 20px 52px 20px 52px;
  max-width: 168px;
  border-radius: 82px;
}

.img2 {
  background-image: url(/img/img2.jpg);
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 23px;
  gap: 44px;
}

.forms-differents-informations-title-img2 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.link-img2 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  padding: 20px 52px 20px 52px;
  width: 168px;
  border-radius: 82px;
}

.img3 {
  background-image: url(/img/img3.jpg);
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-bottom: 23px;
}

.forms-differents-informations-title-img3 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.link-img3 {
}

.img4 {
  background-image: url(/img/img4.jpg);
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
}

.forms-differents-informations-title-img4 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.img5 {
  background-image: url(/img/img5.jpg);
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
}

.forms-differents-informations-title-img5 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}
