.links-to-information {
  background-color: #121517;
  padding-top: 100px;
  padding-left: 130px;
  padding-right: 130px;
}

.information-about-events {
  display: flex;
  justify-content: end;
  gap: 72px;
  align-items: center;
}

.description-events {
  margin: 0;
  color: #d9d9d9;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  max-width: 457px;
}

.title-events {
  margin: 0;
  color: #ffffff;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  max-width: 366px;
}

.title-events-green {
  background-image: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  -webkit-background-clip: text;
  color: transparent;
}

.forms-differents-informations {
  padding-top: 54px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px 24px;
  position: relative;
}

.img1 {
  background-image: url(/img/img1.jpg);
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 23px;
  gap: 44px;
}

.forms-differents-informations-title-img1 {
  margin: 0;
  max-width: 230px;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.link-img1 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  align-content: center;
  border-radius: 82px;
  max-width: 168px;
  height: 75px;
}

.img2 {
  background-image: url(/img/img2.jpg);
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 23px;
  gap: 44px;
}

.forms-differents-informations-title-img2 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
  max-width: 168px;
}

.link-img2 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  align-content: center;
  border-radius: 82px;
  max-width: 168px;
  height: 75px;
}

.img3 {
  background-image: url(/img/img3.jpg);
  grid-column: span 2;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-right: 27px;
}

.forms-differents-informations-title-img3 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
  max-width: 241px;
}

.link-img3 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  align-content: center;
  border-radius: 82px;
  max-width: 168px;
  height: 75px;
}

.img4 {
  background-image: url(/img/img4.jpg);
  grid-column: span 2;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-bottom: 23px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.forms-differents-informations-title-img4 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
  max-width: 222px;
}

.link-img4 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  align-content: center;
  border-radius: 82px;
  max-width: 168px;
  height: 75px;
}

.img5 {
  background-image: url(/img/img5.jpg);
  grid-column: span 2;
  border-radius: 30px;
  padding-top: 44px;
  padding-left: 27px;
  padding-bottom: 23px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.link-img5 {
  border-radius: 45px;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  text-align: center;
  align-content: center;
  border-radius: 82px;
  max-width: 168px;
  height: 75px;
}

.forms-differents-informations-title-img5 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}

.ball-bluer10 {
  position: absolute;
  border-radius: 50%;
  filter: blur(130px);
  width: 255px;
  height: 204px;
  top: 3275px;
  left: 659px;
  background: linear-gradient(
    267.2deg,
    rgba(35, 114, 73, 0.0825) 3.05%,
    rgba(53, 198, 107, 0.1095) 40.73%
  );
}

.ball-bluer11 {
  position: absolute;
  border-radius: 50%;
  filter: blur(130px);
  width: 322px;
  height: 278px;
  top: 3800px;
  left: 442px;
  background: #d9d9d91f;
}

.ball-bluer12 {
  position: absolute;
  border-radius: 50%;
  filter: blur(109px);
  width: 275px;
  height: 220px;
  top: 3600px;
  left: 1150px;
  background: linear-gradient(
    267.2deg,
    rgba(35, 114, 73, 0.0825) 3.05%,
    rgba(53, 198, 107, 0.1095) 40.73%
  );
}
