.types-of-coffee {
  background-color: #121517;
  padding-top: 0px;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.types-of-coffee-cell {
  display: flex;
  gap: 54px;
}

.types-of-coffee-description {
  display: flex;
  justify-content: flex-start;
  max-width: 908px;
  gap: 72px;
}

.title-types-of-coffee {
  margin: 0;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  background-image: linear-gradient(250deg, #237249 50%, #35c66b 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.title-types-of-coffee-white {
  color: #ffffff;
}

.coffee-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
  max-width: 444px;
}

.coffee-cell {
  border: 1.35px solid #dadada;
  max-width: 277px;
  padding: 54px 33px 32px 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
}

.coffee-cell-img {
  position: relative;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: linear-gradient(267.2deg, #237249 3%, #35c66b 76%);
}

.coffee-cell-title {
  margin: 0;
  padding-top: 15px;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #ffffff;
}

.coffee-cell-description {
  margin: 0;
  padding-top: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  text-align: center;
  color: #d9d9d9;
}

.coffee-cell-price-ml {
  display: flex;
  padding-top: 7px;
  padding-bottom: 30px;
  gap: 35px;
  align-items: center;
}

.coffee-cell-price {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #ffffff;
}

.coffee-cell-ml {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}

.coffee-cell-button {
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  border-radius: 59.72px;
  width: 186px;
  height: 55px;
  font-weight: 639;
  font-size: 17px;
  line-height: 146%;
  letter-spacing: -2%;
  color: #ffffff;
  border: none;
}
